* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #222;
  font-family: 'Inter', sans-serif;
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  margin: 2.4rem auto;
  max-width: 600px;
}

.tools {
  display: grid;
  grid-template-columns: 0.6fr 3fr 2.5fr;
  column-gap: 1.6rem;
  padding: 0 2rem;
  margin-bottom: 3.2rem;
  height: 50px;
}

.tools input {
  height: 3.2rem;
  width: 3.2rem;
  border: 0;
  /* border-radius: 5px; */
  /* overflow: hidden; */
  box-shadow: 0 0 3px #222;
  align-self: center;
  cursor: pointer;
}

.tools select {
  background-color: #fff;
  border: 1px solid #ddd;
  position: relative;
  text-indent: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.tools button {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  font-size: 1.6rem;
  border: 0;
  border-radius: 5px;
  padding: 0.8rem 0rem;
  box-shadow: 0 0 3px #000;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.tools button:active {
  transform: scale(0.98);
  cursor: pointer;
}

.colors-panel {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 400px;
  box-shadow: 0 -2px 5px 3px rgba(0, 0, 0, 0.2);
}

.color-col {
  display: grid;
  grid-template-rows: 0.9fr 0.1fr;
  box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

@media (width < 600px) {
  .colors-panel {
    grid-template-columns: repeat(3, 1fr);
    height: 600px;
    row-gap: 2.4rem;
  }

  .color-col {
    grid-template-rows: 0.8fr 0.2fr;
  }
}

.color-col span {
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.copy {
  position: fixed;
  inset: 0;
  bottom: 0;
  margin: auto;
  height: 5rem;
  width: 16rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.code {
  cursor: pointer;
}
